body {
  padding-top: 51px;
  font-family: 'Lato', sans-serif;
  background-color: hsl(196,12%,93%);
}

a{
  color: hsl(213, 98%, 22%);
}

.text-center {
  padding-top: 20px;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}
#sidebar .nav {
  margin-top: 10px;
  width: 95%;
  /*background-color: hsl(196,100%,41.2%);*/
  background-color: hsl(213, 98%, 22%);
  color: white;
}

#sidebar .nav a{
color: white;
}

#sidebar .nav a:focus, #sidebar .nav a:hover{
/*background-color: hsl(196,100%,28%);*/
background-color: hsl(213, 96%, 36%);
}


#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

#sidebar li.valiotsikko{
  background-color: white;
  font-weight: bold;
  /*color: hsl(196,100%,41.2%);*/
  color: hsl(213, 98%, 22%);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

#sidebar li.valiotsikko span{
  display: block;
}


/* Lisätyt tyylit*/

p{
  line-height: 24px;
}

.logo{

  margin-bottom: 10px;
  margin-left: 30px;

}

.navbar{
  background-color: #fed430;
  border-color: hsl(196,0%,27%);
}

.navbar-default .navbar-brand{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: hsl(196,0%,27%);
  font-size: 26px;
}

.navbar-default .navbar-toggle {
  border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}




.banners{
  margin-top: 10px;
  margin-bottom: 10px;
}
.bannercontainer{
  float: left;
  margin-right: 5px;
}

.mainarea{
  min-height: 474px;
  padding-left: 40px;
  background-image: url(../images/background2.jpg);
  background-repeat: no-repeat;
  color: white;
}

.mainarea h1, .contentarea h1{
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}
.mainarea p{
  margin-right: 200px;
}

.contentarea{
  background-color: hsl(196,100%,41.2%);
  min-height: 434px;
  padding-left: 40px;
  padding-bottom: 20px;
  color: white;
}

.contentarea a{
  color: black;
}

.btn-warning{
    border-color: hsl(196,0%,27%);
    background-color: #fed430;
}

.btn-warning:hover{
    border-color: hsl(196,0%,27%);
    background-color: #fed430;
    color: black;
}


.social-buttons a{
  color: white;
}

.downloadarea{
  background-color: white;
}

.facebookarea{
  background-color: white;
}

.downloadlink{
  font-size: 30px;
  margin-bottom: 10px;
  display: block;
}

.downloadlink:hover{
  text-decoration: none;
}

.row{
  margin-bottom: 20px;
}

.footer{
  background-color: white;
  padding-bottom: 10px;
}

.articles h2 a{
  font-weight: bold;
}

.articles h2 a:hover{
  text-decoration: none;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
  .mainarea{
    /*background-color: hsl(196,100%,41.2%);*/
    background-color: hsl(213, 98%, 22%);
    background-image: none;
    color: white;
    padding-left: 10px;
  }
  .mainarea p{
    margin-right: 20px;
  }

}
